@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: blanchedalmond;
}